body {
    background-color: black;
    font-family: Inter;
}

#trackr-logo {
    margin-top: -10px;
    margin-left: 15px;
    height: 50px;
    width: auto;

}

.nav-container {
    display: flex;
    color: white;
    gap: 20px;

    position: relative; 
    z-index: 10; 
}

.nav-container .nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 19px;
    margin-top: 8px;
    margin-left: -35px;
}

.nav-container .nav-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    gap: 20px;
    flex: 1;
}

.nav-right .search-container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #6D6D6D;
    border-radius: 10px;
}

.search-container .search-box {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
    flex-grow: 1 1 auto;
}

.nav-right i {
   font-size: 20px;
}

.search-container input {
    font-family: 'Inter';
    color:#6D6D6D;
    font-size: 15px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin-right: 10px;
    
}

.search-container input:focus::placeholder {
    color: transparent;
    transition: color 0.2 ease;
}

.nav-container .nav-icons {
    display: flex;
    gap: 20px;
}

.nav-container .auth-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auth-buttons  a {
    text-decoration: none;
    color: white;
}

.auth-buttons a:hover {
    text-decoration: underline;
}

.auth-buttons .signup-btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.auth-buttons .signup-btn:hover {
    background-color: white;
    color: #121212;
    cursor: pointer;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px 0px 200px;
    color: white;
    position: relative; 
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
}

.hero-container h1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-size: 70px;
    line-height: 70px;


}

.hero-container .h1-yellow {
    color: #FFD000;

}

.hero-container p {
    color: #9F9797;

}

#subject {
    position: fixed;
    top: -300px;
    right: -600px;
    height: 1500px;
    z-index: -1;
}

.header-btn-container {
    display: flex;
    gap: 20px;
    font-family: 'Inter';

} 

.header-btn-container .btn-signup {
    background-color: #FFD000;
    height: 60px;
    width: 140px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease;
}

.header-btn-container .btn-signup:hover {
    background-color: #212121;
    color: white;
    cursor: pointer;
}



.header-btn-container .btn-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #212121;
    color: white;
    height: 60px;
    width: 200px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.header-btn-container .btn-premium:hover {
    background-color: #FFD000;
    color: black;
    transition: all 0.3s ease;
}

.btn-premium i {
    font-size: 28px;
}

@media (max-width: 768px) {
    .nav-container {
        gap: 23px;
        flex-grow: 0 0 none;
    }

    .nav-container .nav-menu {
        display: none;
    }

    /* .search-container input {
        display: none;
    } */
    
    .nav-container .nav-icons {
        display: none;
    }

    #subject {
        display: none;
    }

}




