body {
    background-color: black;
    font-family: Inter;
}

#trackr-logo {
    margin-top: -10px;
    margin-left: 15px;
    height: 50px;
    width:auto;

}

.nav-container {
    display: flex;
    color: white;
}

.nav-container .nav-menu {
    display: flex;
    list-style-type: none;
    gap: 19px;
    margin-top: 7px;
    margin-left: -20px;
}

.nav-container .nav-right {
    display: flex;
    margin-left: 400px;
}

.nav-right input {
    border-radius: 5px;
    padding: 10px;
    background-color: #212121;
    outline: none;
    box-shadow: none;
}

.nav-right .auth-buttons {
    color: white;
}