body {
    background-color: black;
    font-family: Inter;
}

#trackr-logo {
    height: 40px;
    width:auto;

}

.nav-container {
    color: white;
 
}

.nav-container ul {
    list-style-type: none;
    color: white;
}

.header-container {
    color:white;
}
#subject {
    position:right;
    height: 100vh;
    width: auto;
}

