<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACKR</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<nav class="nav-container">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='images/trackr-logo.png') }}" alt="logo" id="trackr-logo">
    </div>

    <ul class="nav-menu">
        <li>Start Tracking <i class="ph ph-caret-down"></i></li>
        <li>Upload Track <i class="ph ph-caret-down"></i></li>
        <li>Browse Track <i class="ph ph-caret-down"></i></li>
    </ul>

    <div class="nav-right">
        <form class="search-container">
            <div class="search-box">
                <i class="ph ph-list-magnifying-glass"></i>
                <input type="text" id="search-track" placeholder="Search Track">
            </div>
        </form> 
            
        <div class="auth-icon-container">
            <div class="auth-buttons">
                <a href="/login" class="login-link">Login</a>
                <button onclick="window.location.href='{{ url_for('signup_page') }}'" class="signup-btn">Sign Up</button>
            </div>

            <div class="nav-icons">
                <i class="ph ph-download-simple"></i>
                <i class="ph ph-seal-question"></i>
                <i class="ph ph-globe-simple"></i>
            </div>
         </div>

    </div>
</nav>



<div class="hero-container">

    <div class="header-container">
        <h1 class="h1-yellow">Smarter</h1>
        <h1>Prices.</h1>
        <h1 class="h1-yellow">Better</h1>
        <h1>Savings.</h1>

        <p>Track price changes across online stores automatically, all in one place.</p>

        <div class="header-btn-container">
            <button onclick="window.location.href='{{ url_for('signup_page') }}'"  class="btn-signup">Sign Up</button>

            <button class="btn-premium">
                <i class="ph ph-arrows-in-cardinal"></i>
                Go Premium
            </button>

        </div>
    </div>

    <div class="image-container">
        <img src="{{ url_for('static', filename='images/subject.png') }}" alt="image" id="subject">
    </div>

</div>
</body>

</html>




