{% extends "login-page.html" %}

{% block content %}

<div class="login-header">
    <h1 style="font-weight: bold;">Welcome back!</h1>
    <p>Log in now and start tracking new products!</p>
</div>

<form method="POST" action="{{ url_for('login') }}" class="login-form">

    {{ form.hidden_tag() }}

    <div class="form-group" >
        {{ form.username.label }}
        {{ form.username(class="form-control") }}

        {% for error in form.username.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="margin-top: 15px;">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}

        {% for error in form.password.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </div>


    <div class="form-group"  style="margin-top: 15px;">
        {{ form.submit(class="btn btn-primary") }}
    </div>

    <div class="exist-account" style="margin-top: 15px;"> 
        <p>
            Don't have an account yet?
            <a href="{{ url_for('signup_page') }}" style="font-weight:bold; color:black;">
                Sign Up
            </a>
        </p>
    </div>

</form>

<div class="social-login" style="width: 350px;">
    <div class="divider">
        <span>Or sign in with</span>
    </div>

    <button class="social-btn google" onclick="window.location.href='/auth/google'">
        <img src="{{ url_for('static', filename='images/google-logo.png') }}" alt="">
        Google
    </button>
</div>

{% endblock %}