{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<!-- HERO SECTION OF PROFILE -->

<div class="banner-container" onclick="document.getElementById('bgFileInput').click()">
    <div class="profile-banner" id="profileBanner">
        <div class="banner-hover-overlay" id="bannerOverlay">
            <span>Change Background</span>
        </div>
      <input type="file" id="bgFileInput" accept="image/*" style="display:none"/>
    </div>
</div>

<main>

<div class="pfp-container" id="pfpContainer" onclick="document.getElementById('pfpFileInput').click()">

    <img id="profileImage"  src="../static/images/default-pfp.png" alt="pfp-image">

    <input type="file" id="pfpFileInput" accept="image/*" hidden>

    <div class="pfp-overlay">
        <span>Change PFP</span>
    </div>

</div>

    <div class="profile-info">

        <div class="username-label">Username</div>
        <div class="username-text" id="displayUsername">{{ user.username }}</div>

        <div class="profile-btns">
          <button class="btn-yellow" id="editProfileBtn">
            Edit Profile
            <i class="ph ph-note-pencil"></i>
          </button>

          <button class="btn-yellow">
            Public Profile
            <i class="ph ph-eye"></i>
          </button>
    </div>

      <div class="name-row">
                <div class="name-group">
                  <span class="name-label">Firstname</span>
                  <span class="name-value" id="displayFirstname">{{ user.first_name }}</span>
                </div>

                <div class="name-divider"></div>

                <div class="name-group">
                  <span class="name-label">Surname</span>
                  <span class="name-value" id="displaySurname">{{ user.last_name }}</span>
                </div>
              </div>
            </div>
            
          </div>





</main>
          <div class="bd-container">
     
            <div class="cards">
              <div class="title"> Dashboard </div>
                <div class="db-container">
                  <h1> COMING SOON! </h1>
                  <p> Dashboard Analytics are on their way </p>
                </div>
            </div>

          </div>


          <div class="last-shit-buttons">
              <button class="delete">
                Delete Account
              </button>

                <button class="logout">
                  Logout
                </button>
          </div>


<div class="cs-editModal" id="editModal">
  <div class="cs-modalContainer">

    <h2>Edit Profile</h2>

    <div class="cs-modalContents">

      <div class="cs-row">
        <div class="cs-input-group">
          <label class="cs-label">Firstname</label>
          <input id="editFirstName" value="{{ user.first_name }}" placeholder="First Name">
        </div>

        <div class="cs-input-group">
          <label class="cs-label">Lastname</label>
          <input id="editLastName" value="{{ user.last_name }}" placeholder="Last Name">
        </div>
      </div>

      <div class="cs-row">
        <div class="cs-input-group">
          <label class="cs-label">Email</label>
          <input id="editEmail" value="{{ user.email }}" placeholder="Add Email">
        </div>

        <div class="cs-input-group">
          <label class="cs-label">Change Password</label>
          <input id="editPassword" type="password" placeholder="New Password">
        </div>
      </div>

    </div>

    <div class="cs-btn-container">
      <button class="btns" id="saveProfile">Save</button>
      <button class="btns" id="closeModal">Cancel</button>
    </div>

  </div>


</div>

<script src="{{ url_for('static', filename='js/js-profile.js') }}"></script>

{% endblock %}